@import url('https://fonts.cdnfonts.com/css/graphik');


* {
  text-decoration: none!important;
  margin: 0;
  font-family: "graphik";
}

.herobox{
  background-image: linear-gradient(to right, #733a5e, #cc7873, #301b1f);  
}

.logo {
  font-size: 2rem;
  color: #2dd4bf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 10;
}

.navword{
  font-size: 1rem;
  color: #a1a1a1;
}

.Navlocker {
  background-color: rgb(23, 23, 23);
}

.button1 {
  border-radius: 8px;
}


.button1:hover {
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxContent {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.LowerMediaCard {
  width: 230px !important;
}

.scrollbody::-webkit-scrollbar{
  display: none !important;
}

.no-outline:focus {
  outline:none;
}

@media  screen and (min-width: 768px) {
  .MediaCard{
    width: 310px !important;
  }


  .LowerMediaCard {
    width: 260px !important;
  }
  
  
}